html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: #efb106;
}
p, [for="abtype"] {
	margin-bottom: 0;
	margin-top: 2rem;
/*In the html head, this command links with the google fonts style that we are inserting*/
	font-family: 'Noto Serif', serif;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}
fieldset {
	border: solid 2px dodgerblue;
	border-radius: 10px;
	margin: 0 0 2rem 0;
}
legend {
	font-weight: bold;
	font-size: 1.25rem;
	margin: 1rem 0 1rem 0;
}
/* dsiply: block makes labels vertical */
label {
	display: block;
}
textarea {
	height: 50px;
	width: 50%;
}
select {
	font-size: 1rem;
}
button {
	font-size: 1.5rem;
	margin: 3px 0 3px 0;
	background-color: lightpink;
	color: dodgerblue;
	padding: 3px 2px 3px 2px;
	border-radius: 15px;
}
button:hover {
	background-color: lime;
}
input:not([type=radio]):not([type=checkbox]), textarea {
	display: block;
	margin-bottom: 4px;
	width: 20rem;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: medium;
	padding: 0 1rem;
	border: solid 1px dodgerblue;
	border-radius: 10px;
}











